In [1]:
import pandas as pd
from sqlalchemy import create_engine

df_unemp = pd.read_csv("Data/modified/Unemployment_Rate.csv")
df_income = pd.read_csv("Data/modified/Per_Capita_Personal_Income.csv")

In [2]:
df_income.head()

,Series ID,Region Name,Region Code,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,PCPI45001,"Abbeville County, SC",45001,24311.0,25712.0,25702,26619,27675,27555,28193,29498.0,30928.0,31785.0,33044.0
1,PCPI22001,"Acadia Parish, LA",22001,27751.0,31483.0,31140,31569,32797,34456,36229,37336.0,35676.0,34158.0,35401.0
2,PCPI51001,"Accomack County, VA",51001,29914.0,32114.0,32607,33556,33989,35525,36069,37225.0,38807.0,39099.0,40701.0
3,PCPI16001,"Ada County, ID",16001,40561.0,39479.0,37727,38275,39649,41472,42857,45259.0,47671.0,48419.0,49900.0
4,PCPI29001,"Adair County, MO",29001,25295.0,26552.0,27800,27158,28405,28618,29215,30036.0,31139.0,31186.0,32037.0

In [3]:
df_income = df_income[["Region Name", "2017"]]

In [4]:
df_income.head()

            Region Name     2017
0  Abbeville County, SC  33044.0
1     Acadia Parish, LA  35401.0
2   Accomack County, VA  40701.0
3        Ada County, ID  49900.0
4      Adair County, MO  32037.0

In [5]:
df_income['StateInitial'] = df_income['Region Name'].str[-2:]
df_income.head()

            Region Name     2017 StateInitial
0  Abbeville County, SC  33044.0           SC
1     Acadia Parish, LA  35401.0           LA
2   Accomack County, VA  40701.0           VA
3        Ada County, ID  49900.0           ID
4      Adair County, MO  32037.0           MO

In [6]:
df_income.head()

            Region Name     2017 StateInitial
0  Abbeville County, SC  33044.0           SC
1     Acadia Parish, LA  35401.0           LA
2   Accomack County, VA  40701.0           VA
3        Ada County, ID  49900.0           ID
4      Adair County, MO  32037.0           MO

In [7]:
df_income = df_income.loc[df_income["StateInitial"] == "TX", :]
df_income.head()

            Region Name     2017 StateInitial
57  Anderson County, TX  33362.0           TX
63   Andrews County, TX  43105.0           TX
65  Angelina County, TX  37555.0           TX
75   Aransas County, TX  44820.0           TX
77    Archer County, TX  47110.0           TX

In [8]:
df_income.reset_index(inplace=True)
df_income.head()

   index          Region Name     2017 StateInitial
0     57  Anderson County, TX  33362.0           TX
1     63   Andrews County, TX  43105.0           TX
2     65  Angelina County, TX  37555.0           TX
3     75   Aransas County, TX  44820.0           TX
4     77    Archer County, TX  47110.0           TX

In [9]:
df_income["County"] = df_income["Region Name"].str[:-11]
df_income["County"] = df_income["County"].str.upper()
df_income["Income"] = df_income["2017"]

In [10]:
df_income=df_income[["County","Income"]]

In [11]:
df_income.head()

     County   Income
0  ANDERSON  33362.0
1   ANDREWS  43105.0
2  ANGELINA  37555.0
3   ARANSAS  44820.0
4    ARCHER  47110.0

In [12]:
df_unemp.head()

,Series ID,Region Name,Region Code,2018 March,2018 April,2018 May,2018 June,2018 July,2018 August,2018 September,2018 October,2018 November,2018 December,2019 January,2019 February,2019 March,2019 April
0,SCABBE1URN,"Abbeville County, SC",45001,3.9,3.1,3.3,4.4,4.3,4.3,3.9,3.9,3.5,3.8,4.4,3.6,3.8,3.2
1,LAACAD0URN,"Acadia Parish, LA",22001,5.1,4.9,5.2,6.7,6.1,5.8,5.4,5.0,4.8,4.8,5.7,4.8,4.2,3.9
2,VAACCO1URN,"Accomack County, VA",51001,4.6,3.5,3.4,3.6,3.5,3.6,3.2,3.1,3.1,3.8,5.1,4.8,4.0,3.3
3,IDADAC1URN,"Ada County, ID",16001,2.9,2.5,2.2,2.3,2.3,2.2,2.1,2.1,2.3,2.4,3.3,2.9,2.7,2.2
4,MOADURN,"Adair County, MO",29001,4.2,3.2,3.2,4.1,4.4,3.9,2.8,2.3,2.4,3.2,4.2,3.9,4.6,3.1

In [13]:
del df_unemp['Series ID']

In [14]:
del df_unemp['Region Code']
df_unemp.head()

,Region Name,2018 March,2018 April,2018 May,2018 June,2018 July,2018 August,2018 September,2018 October,2018 November,2018 December,2019 January,2019 February,2019 March,2019 April
0,"Abbeville County, SC",3.9,3.1,3.3,4.4,4.3,4.3,3.9,3.9,3.5,3.8,4.4,3.6,3.8,3.2
1,"Acadia Parish, LA",5.1,4.9,5.2,6.7,6.1,5.8,5.4,5.0,4.8,4.8,5.7,4.8,4.2,3.9
2,"Accomack County, VA",4.6,3.5,3.4,3.6,3.5,3.6,3.2,3.1,3.1,3.8,5.1,4.8,4.0,3.3
3,"Ada County, ID",2.9,2.5,2.2,2.3,2.3,2.2,2.1,2.1,2.3,2.4,3.3,2.9,2.7,2.2
4,"Adair County, MO",4.2,3.2,3.2,4.1,4.4,3.9,2.8,2.3,2.4,3.2,4.2,3.9,4.6,3.1

In [15]:
df_unemp['mean'] = df_unemp.mean(axis=1)
df_unemp.head()

,Region Name,2018 March,2018 April,2018 May,2018 June,2018 July,2018 August,2018 September,2018 October,2018 November,2018 December,2019 January,2019 February,2019 March,2019 April,mean
0,"Abbeville County, SC",3.9,3.1,3.3,4.4,4.3,4.3,3.9,3.9,3.5,3.8,4.4,3.6,3.8,3.2,3.814286
1,"Acadia Parish, LA",5.1,4.9,5.2,6.7,6.1,5.8,5.4,5.0,4.8,4.8,5.7,4.8,4.2,3.9,5.171429
2,"Accomack County, VA",4.6,3.5,3.4,3.6,3.5,3.6,3.2,3.1,3.1,3.8,5.1,4.8,4.0,3.3,3.757143
3,"Ada County, ID",2.9,2.5,2.2,2.3,2.3,2.2,2.1,2.1,2.3,2.4,3.3,2.9,2.7,2.2,2.457143
4,"Adair County, MO",4.2,3.2,3.2,4.1,4.4,3.9,2.8,2.3,2.4,3.2,4.2,3.9,4.6,3.1,3.535714

In [16]:
df_unemp['StateInitial'] = df_unemp['Region Name'].str[-2:]
df_unemp = df_unemp.loc[df_unemp["StateInitial"] == "TX", :]
df_unemp.reset_index(inplace=True)
df_unemp["County"] = df_unemp["Region Name"].str[:-11]
df_unemp["County"] = df_unemp["County"].str.upper()
df_unemp["Unemployment"] = df_unemp["mean"]

In [17]:
df_unemp=df_unemp[['County','Unemployment']]
df_unemp.head()

     County  Unemployment
0  ANDERSON      3.050000
1   ANDREWS      2.292857
2  ANGELINA      4.292857
3   ARANSAS      5.092857
4    ARCHER      3.042857

In [18]:
engine = create_engine('sqlite:///tx_data.sqlite', echo=False)

In [19]:
df_income.to_sql('Per_Capita_Personal_Income', con=engine, if_exists='replace')
df_unemp.to_sql('Unemployment_Rate', con=engine, if_exists='replace')

ValueError: Table 'Per_Capita_Personal_Income' already exists.

In [ ]:
engine.execute("SELECT * FROM Per_Capita_Personal_Income").fetchall()

In [ ]:
engine.execute("SELECT * FROM Unemployment_Rate").fetchall()